div#display{
	border-style: solid;
	width: 600px;
	height: 200px;
	overflow: scroll;
}

body{
	background-color: gray;
}

img.active_tools,img.Accessories{
	max-height: 35px;
	max-width: 35px;
	width: 35px;
	margin: 1px;
}