div#board{
	position: absolute;
	left: 30%;
	top: 17%;
	width: 60%;
	height: auto;
	display: none;
}

div#display{
	font-family: arial, sans-serif;
	background-color: #8B8970;
	overflow: scroll;
	overflow-x:visible ;

	float: left;
	width: 70%;
	margin: 0 auto;
	-moz-box-shadow:2px 2px 5px #333333, 6px 10px 14px #333333; -webkit-box-shadow:2px 2px 5px #333333, 6px 10px 14px #333333; box-shadow:2px 2px 5px #333333, 6px 10px 14px #333333;
}
div#close{
	float: left;
	
}


div#isaac{
	margin-right: auto;
	margin-left: auto;
	width: 450px;
}

img#isaac-tittle{
	height: auto;
	width: 450px;
}
div#active-tools-div,div#Accessories{
	width: 80%;
	height: auto;

	margin-top: 4px;
	margin-bottom: 4px;

	margin-right: auto;
	margin-left: auto;
}

div#atlas{

	margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	padding-left: 4.6%;
	padding-right: 4.6%;
	padding-top: 7%;
	padding-bottom: 6%;

	background-image: url("graphics/room.png");
	background-size: 1002px 700px;
	background-repeat: none;
	height: auto;
	width: 900px;

	

}

body{
	
}

body div{
	z-index: 50;
}

img.active_tools,img.Accessories{
	max-height: 24px;
	max-width: 24px;
	width: 24px;
	margin: 1px;
}

img#bgimg{
	position:absolute;
	left:0px;
	top:0px;
	height: 100%;
	width: 100%;
	z-index:-12;
}

